// Created by USER on 2017/5/5.
@-moz-document domain("discordapp.com")
{
	.chat, .username, .code
	{
		//-moz-user-select: text;
		//-webkit-user-select: text;
		//-ms-user-select: text;

		user-select: text;
	}

	.message-text, .message-group .comment .markup, .chat .welcome-message p
	{
		font-size: 10pt;
	}

	.chat .divider > span
	{
		font-size: 12px;
	}

	.message-group
	{
		padding: 10px 0px;
	}
}
