@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("ck101.com")
{

	.pi-DK-AdOnBottom-MaxWidth,
	.adfixWp
	{
		display: none !important;
	}

}

@-moz-document domain("wetalk.tw")
{

	.modal-backdrop.in,
	#mobileModal.in,
	.adsbygoogle,
	.adblock
	{
		display: none !important;
	}

	.modal-open
	{
		overflow: auto !important;
	}

}
