@namespace url(http://www.w3.org/1999/xhtml);

@import "lib/var.stylish.facebook.scss";
@import "lib/stylish.scss";

$is-stylish: false;

$domain: 'www.facebook.com';
@-moz-document domain("www.facebook.com")
{

	@include site-elem-here($domain, 'userContent')
	{
		//font-size: 1rem !important;
		font-size: 1rem;
	}

	@include site-elem-here($domain, 'userContent2')
	{
		//font-size: $fontSize2 !important;
		font-size: $fontSize2;
	}

	.userContent
	{
		@include site-elem-extend($domain, 'userContent');
	}

	@include site-elem-here($domain, 'root')
	{
		font-size: stylish-var($fontSize, '/*[[size]]*/');

		&[lang="ja"]
		{
			font-size: stylish-var($fontSize, '/*[[size]]*/');
		}
	}

	@include site-elem-here($domain, 'fontSize')
	{
		font-size: stylish-var($fontSize, '/*[[size]]*/');
	}

	@include site-elem-here($domain, 'fontSize2')
	{
		font-size: $fontSize2;
	}

	@include site-elem-here($domain, 'fontSize3')
	{
		font-size: $fontSize3;
	}

	._wk, #fbPhotoSnowliftCaption, #fbPhotoSnowliftTagList, #fbPhotoSnowliftCaption .text_exposed_link, ._5k3v, ._5p3y ._5pbw, ._5p3y ._5pbx, ._5p3y ._5pbx span.text_exposed_link, ._4_j6, ._5k3v, ._6dh ._2yg .input, ._6dh ._2yg .uiMentionsInput .highlighterContent, .fbPhotoAlbumHeader .fbPhotoCaption, ._5p3y, ._5p3y button, ._5p3y input, ._5p3y label, ._5p3y select, ._5p3y td, ._5p3y textarea, ._5p3y .uiMentionsInput .highlighter, ._5p3y .uiButtonText, ._5p3y .uiButton input, ._5p3y .uiLinkButton input, ._5p3y button.as_link, ._5t_y ._2yg .input, ._5t_y ._2yg .uiMentionsInput .highlighterContent, ._5t_y ._2yg .input, ._5t_y ._2yg .uiMentionsInput .highlighterContent, html ._1llv ._2yg .input, html ._1llv ._2yg .uiMentionsInput .highlighterContent, ._36, .webMessengerMessageGroup ._38, .__wu ._539-.roundedBox .uiSearchInput .inputtext, ._cf_ #globalContainer .timelineUnitContainer ._3gr ._3o9, ._cf_ #globalContainer .timelineUnitContainer ._3gr ._3oa .highlighter, ._6nw._cf_ #globalContainer ._3gr ._3o9, ._6nw._cf_ #globalContainer ._3gr ._3oa .highlighter, .uiStreamRedesign .uiStreamMessage .messageBody ._3gr ._3o9, .uiStreamRedesign .uiStreamMessage .messageBody ._3gr ._3oa .highlighter, ._5pcr ._3gr ._3o9, ._5pcr ._3gr ._3oa .highlighter, .timelineUnitContainer ._3gr ._3o9, .timelineUnitContainer ._3gr ._3oa .highlighter, #globalContainer .editNotePage .editNoteTitleInput, ._cf_ #globalContainer .timelineUnitContainer ._3gr ._3o9, ._cf_ #globalContainer .timelineUnitContainer ._3gr ._3oa .highlighter, ._6nw._cf_ #globalContainer ._3gr ._3o9, ._6nw._cf_ #globalContainer ._3gr ._3oa .highlighter, .uiStreamRedesign .uiStreamMessage .messageBody ._3gr ._3o9, .uiStreamRedesign .uiStreamMessage .messageBody ._3gr ._3oa .highlighter, ._5pcr ._3gr ._3o9, ._5pcr ._3gr ._3oa .highlighter, .timelineUnitContainer ._3gr ._3o9, .timelineUnitContainer ._3gr ._3oa .highlighter, ._6nl, ._6nm, ._50f4, ._5elm ._5eln, ._5elm ._5elo .photoAlbumDescInput, ._5elm ._5elo .highlighterContent, ._5elm ._5elp .placeTypeaheadInput, ._5elm ._5elp .placeholder, ._l52, ._2yg .input, .UIFeedFormStory_Prompt textarea, html ._2yg .uiMentionsInput .highlighter,
	._5p3y .fsl, ._9fi .uiSearchInput input, ._5h_u ._3_tq,
	.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorName, ._4fzb ._1nb_, ._5p3y ._4fzb ._5pco, ._u77 #fbPhotoSnowliftCaption, ._u77 #fbPhotoSnowliftTagList, ._u77 #fbPhotoSnowliftCaption .text_exposed_link, ._36bx ._1mwp, ._2kml,
	._39k5, ._2yaa,
	._r_m .uiSearchInput input, ._r_m ._5mrx ._58al,
	._2yaw + ._2yav,
	._1fsj,
	._4x9_, ._a7s ._524d a, ._a7s ._50u4, ._1ysv, ._19s_,
	.__wu ._539-.roundedBox .uiSearchInput .inputtext, .__wu ._539-.roundedBox .uiSearchInput.reDesignedInput .inputtext,
	._4d3w.fbxPhoto._u77 .fbPhotoContributorName,
	._4d3w .snowliftOverlayBar,
	._5pbw, ._5pbx, ._5pco, ._4fzb ._1nb_, ._4fzb ._5pco,

	._58jw,
	._5pbx span.text_exposed_link,

	._1ht6, ._1htf, .__i_, ._4sp8, ._s15,

	// 動態內容輸入框
	._36bx ._1mwp._17nh, ._30oa ._2mcl,

	// 天氣預報
	._5778 ._51cp,

	._5i6, ._14ws, ._1cp2, ._4h98._4h98,

	._3q3r ._1twx, ._4-i0 ._52c9, ._1xmb,

	// https://www.facebook.com/groups/
	._4jq5, ._5vx2 ._45hd ._45hc,

	._40n8,

	._50f5, ._3v6c span._38my,
	{
		@extend .userContent;
	}

	._5p3y, ._4a8c ._36bx ._1mwp._17nh, ._4a8c ._36bx ._1mwp._17nh
	{
		@extend .userContent;
	}

	// https://www.facebook.com/help/www/217854714899185?pnref=story
	._io, ._z6x, ._4kac, ._3uh4, ._4ka9, ._5dwl, ._4kaa, ._25ih, ._59u_, ._4qzj, ._4kad, ._1o5-, ._d9-
	{
		@extend .userContent;
	}

	._4ee_
	{
		._4ef1, ._4ef2, ._3nb9 input
		{
			@extend .userContent;
		}
	}

	._aos .uiMentionsInput .input, ._aos .uiMentionsInput .highlighterContent
	{
		@extend .userContent;
	}

	._1hx ._480e, #composer_text_input_box, textarea, ._559p, ._1hx ._480e, ._1hx ._3en1
	{
		@extend .userContent;
	}

	._2n69, ._2tyk ._3653, ._36ic ._1tqi, ._17w2, ._5iwm ._58al, ._364g, ._225b, ._5u15, ._36ic ._1tqi, ._3blk, ._3blk, ._2ogt, ._5i_d .__6l, ._1lj0, ._2i-c ._54nf ._54nh
	{
		@extend .userContent;
	}

	._5778 ._577b, ._5778 ._28o3, ._5n7j, ._1jlx ._94t a, ._4h98._4h98, input
	{
		@extend .userContent;
	}

	._40n5, ._38u4, ._9ud, ._1z7g, ._4bl9, ._4h98._4h98, ._4h98, #facebook ._-kb textarea
	{
		@extend .userContent;
	}

	input:-moz-read-write, textarea:-moz-read-write, ._3dc, ._6-6
	{
		@extend .userContent;
	}

	// https://www.facebook.com/deepwhiteII/posts/1445894665432259
	// kkbox music
	.fsl, .fsm, body ._3-_v, ._79s, ._79r, ._2ava, ._3v6c ._5u7u, ._5dw8 a, ._2-sm._xa9, ._1c03, ._2wmb, ._4jy0
	{
		@extend .userContent;
	}

	button, input, label, select, td, textarea
	{
		@extend .userContent;
	}

	._5a_ td._5l5, ._5a_ td._5l6, ._5a_ td._5l6 a[role="button"], .uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input, ._4qd h3
	{
		@extend .userContent;
	}

	._31rf, ._31q_, ._2-sm._2ias, ._35v5, ._5pbw, ._5pbx, ._2wmb, ._50f4, ._1hib, ._2-sm._xa9, ._4jq5, ._5vx2 ._45hd ._45hc
	{
		@extend .userContent;
	}

	._1c03, ._3v6c span._38my, ._3v6c ._5u7u, ._2ava, ._79s, ._34x4 ._34x7, ._2m80
	{
		@extend .userContent;
	}

	._34x_, ._50f4, ._4g6e, ._4xrx, ._20y ._210, ._20y .uiTokenizer
	{
		@extend .userContent;
	}

	._5kus, ._5kur, ._56q9, ._4uyl ._5yk2, ._4uyl ._1u9t, ._1l- .uiToken
	{
		@extend .userContent;
	}

	._5hug, ._4uq7, ._rio ._58z_, ._4r_2, ._mp-, ._3lj0, ._5-z2, ._1okw, ._4vi1, ._21x_ ._1j3g
	{
		@extend .userContent;
	}

	._7vs, ._266w, ._24ok, ._5_6e
	{
		@extend .userContent;
	}

	._4zq4
	{
		@extend .userContent;
	}

	._a7s ._524d a
	{
		@include site-elem-extend($domain, 'fontSize2');
	}

	@include css3-placeholder()
	{
		@at-root &, textarea#{&}, input#{&}
		{
			font-size: 1em !important;
		}
	}

	html, body, :root
	{
		//font-size: $fontSize;
		//font-size: stylish-var($fontSize, '/*[[size]]*/');

		@include site-elem-extend($domain, 'root');
	}

	._5v3q ._5pbx p
	{
		margin: stylish-var($plineheight, '/*[[plineheight]]*/') 0 0;
	}

	._5v3q ._5pbx p, ._5v3q ._5pbx .text_exposed_show p:first-child, ._5v3q ._5pbx .text_exposed_root > p:last-of-type
	{
		margin-top: stylish-var($plineheight, '/*[[plineheight]]*/');
	}

	._5v3q ._5pbx > p:last-of-type, ._5v3q ._5pbx .text_exposed > p:first-child
	{
		display: inline-block;
	}

	._5v3q ._5pbx .text_exposed_root > p:last-of-type
	{
		display: block;
	}

	@include site-elem-here($domain, 'avatar')
	{
		border-radius: 100%;
		transition: border-radius .20s ease-in-out;
	}

	@include site-elem-here($domain, 'avatar_hover')
	{
		border-radius: 5%;
	}

	.fbxWelcomeBoxImg, ._rw, .UFIActorImage, ._55lt img, .tickerStoryImage, .webMessengerMessageGroup ._8o .img, .anchorContainer ._33h._8o.img, .anchorContainer ._12u1.img, img._54ru, ._8o .img
	{
		//border-radius: 100% !important;
		////-o-transition: border-radius .20s ease-in-out;
		////-webkit-transition: border-radius .20s ease-in-out;
		////-moz-transition: border-radius .20s ease-in-out;
		//transition: border-radius .20s ease-in-out;

		@include site-elem-extend($domain, 'avatar');
	}

	.fbxWelcomeBoxImg:hover, ._rw:hover, .ego_unit:hover ._rw, ._5x46:hover ._rw, .UFIActorImage:hover, ._55lt img:hover, .pvs:hover ._55lt img, .messagesContent:hover ._55lt img, .tickerStoryImage:hover, .webMessengerMessageGroup:hover ._8o .img, .UFIRow.UFIComment:hover .UFIActorImage, .tickerStoryBlock:hover .tickerStoryImage, .anchorContainer ._33h._8o.img:hover, .anchorContainer:hover ._33h._8o.img, .anchorContainer:hover ._12u1.img, ._5r69:hover img._54ru, ._8o:hover .img
	{
		//border-radius: 5% !important;
		@include site-elem-extend($domain, 'avatar_hover');
	}

	._5x46, ._5r69, .fbPhotoSnowliftAuthorInfo, .uiGrid ._51m-
	{
		._8o .img
		{
			@include site-elem-extend($domain, 'avatar');
		}

		._38vo:after, ._35za
		{
			@include site-elem-extend($domain, 'avatar');
		}

		&:hover
		{
			._8o .img
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}

			._38vo:after, ._35za
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}
		}
	}

	.anchorContainer
	{
		._ohe.lfloat > .img
		{
			@include site-elem-extend($domain, 'avatar');
		}

		&:hover
		{
			._ohe.lfloat > .img
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}
		}
	}

	#pagelet_composer #js_u ._3hvt, ._3s6w, .link, .objectListItem, ._34xx, ._2pin
	{
		.img
		{
			@include site-elem-extend($domain, 'avatar');
		}

		&:hover
		{
			.img
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}
		}
	}

	._2cpc
	{
		.img
		{
			@include site-elem-extend($domain, 'avatar');
		}

		&::after
		{
			@include site-elem-extend($domain, 'avatar');
		}

		&:hover
		{
			.img
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}

			&::after
			{
				@include site-elem-extend($domain, 'avatar_hover');
			}
		}
	}

	.fbxWelcomeBoxBlock:after, #blueBar:after, .UFIImageBlockImage:after, ._5v9u:after, ._4o04
	{
		display: none !important;
	}

	/*
	._4-u2 ,.UFIFirstComponent,.uiTypeahead .wrap,.uiTypeahead,._42fz a,._5t_y ._1dsp,._5pr2 ._56p9:after
	{
		border: 0 !important;
	}
	*/

	.uiScaledImageContainer, ._4-u3._2ph_ ._5ks5._3-9a
	{
		border: 1px solid transparent;
	}

	._4-u2, .uiScaledImageContainer, ._2yq ._4-u2.mbm::before, ._4-u3._2ph_ ._5ks5._3-9a
	{
		//-o-transition: border-color .20s ease-in-out;
		//-webkit-transition: border-color .20s ease-in-out;
		//-moz-transition: border-color .20s ease-in-out;
		transition: border-color .20s ease-in-out;
	}

	._4-u2:hover, ._2a2r:hover .uiScaledImageContainer, ._2yq ._4-u2.mbm:hover::before, ._4-u3._2ph_ ._5ks5._3-9a:hover
	{
		border-color: stylish-var($hovercolor, '/*[[hovercolor]]*/');
	}

	.uiScrollableArea.ticker_container
	{
		height: stylish-var($scrollablearea, '/*[[scrollablearea]]*/') !important;
	}

	.fbChatSidebar #pagelet_ticker
	{
		height: 75% !important;
	}

	.fbChatSidebar #pagelet_ticker .uiScrollableArea.ticker_container
	{
		height: 100% !important;
	}

	._5bl2 .highlightNode
	{
		background-color: rgba(42, 239, 231, 0.4);
	}

	.stageWrapper.lfloat #snowliftStageActions
	{
		//-o-transition: display .20s ease-in-out;
		//-webkit-transition: display .20s ease-in-out;
		//-moz-transition: display .20s ease-in-out;
		transition: display .20s ease-in-out;
		display: none;
	}

	.stageWrapper.lfloat:hover #snowliftStageActions
	{
		display: block;
	}

	.fbUserContent
	{
		.lfloat
		{
			div.mbs a[target='_blank']
			{
				@include content-farm-uri()
				{
					&::before
					{
						//content: "此網站是內容農場！\AThis site is a content farm!";
						//
						//display: inline-block !important;
						//color: #000 !important;
						//background-color: #FF9DA9 !important;
						//
						//font:
						//{
						//	size: 8pt;
						//};
						//
						//padding: 2px 3px;
						//
						//border-radius: 5px;
					}
				}
			}
		}
	}

	._20i8 ._20i9 ._2pxf
	{
		// 粉絲頁 PO文 按鈕
		._306z
		{
			position: relative;

			._3074
			{
				display: block;
				text-align: center;

				font-weight: bold;
				text-align: center;
				text-shadow: 0 1px rgba(0,0,0,.5);

				height: 70px;
				width: 110px;

				top: 0;
				position: absolute;
				line-height: 70px;

				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;

				&:hover
				{
					background-color: rgba(0, 0, 0, 0);

					._4qba
					{
						background-color: rgba(0, 0, 0, 0.25);
						width: 100%;
						display: inline-block;
						line-height: 2em;
					}
				}
			}
		}
	}

	.uiToken
	{
		padding: 1px 3px;

		.uiTokenText
		{
			@include site-elem-extend($domain, 'fontSize2');
		}
	}
}

$domain: 'm.facebook.com';
@-moz-document domain("m.facebook.com")
{

	@include site-init-here($domain);

	@include site-elem-here($domain, 'root')
	{
		font-size: small;
	}

	body, tr, input, textarea, .g
	{
		@include site-elem-extend($domain, 'root');
	}

	body, tr, input, textarea, .f
	{
		@include site-elem-extend($domain, 'root');
	}

	.m .n, .b .m
	{
		@include site-elem-extend($domain, 'root');
	}

	.b .cg
	{
		@include site-elem-extend($domain, 'root');
	}

	.touch, .touch tr, .touch input, .touch textarea, .touch .mfsm
	{
		@include site-elem-extend($domain, 'root');
	}

	.do, ._2tbu, ._1c5c, ._5qc3._5qc3
	{
		@include site-elem-extend($domain, 'root');
	}

	._5qc3._5qc3
	{
		@include site-elem-extend($domain, 'root');
	}


	.fk .fo > .bm.fd.fq
	{
		transition: border-color .20s ease-in-out;
		border-radius: 5px;

		&:hover
		{
			border-color: $hovercolor;
		}
	}

	#m_newsfeed_stream
	{
		.dy, .dz
		{
			> div[role="article"]
			{
				transition: border-color .20s ease-in-out;
				border-radius: 5px;

				&:hover
				{
					border-color: $hovercolor;
				}
			}
		}
	}

	@include site-elem-here($domain, 'avatar')
	{
		border-radius: 100%;
		transition: border-radius .20s ease-in-out;
	}

	@include site-elem-here($domain, 'avatar_hover')
	{
		border-radius: 5%;
	}

	@include site-elem-here($domain, 'avatar2')
	{
		border-radius: 100%;
		transition: border-radius .20s ease-in-out;
	}

	#m_group_stories_container, .feedRevamp > div
	{
		article
		{
			> div[data-sigil="m-feed-story-attachments-element"]
			{
				.img.profpic
				{
					@include site-elem-extend($domain, 'avatar');
				}

				&:hover
				{
					.img.profpic
					{
						@include site-elem-extend($domain, 'avatar_hover');
					}
				}
			}

			footer
			{
				._4g33
				{
					._5xu4 .img.profpic
					{
						@include site-elem-extend($domain, 'avatar');
					}

					&:hover
					{
						._5xu4 .img.profpic
						{
							@include site-elem-extend($domain, 'avatar_hover');
						}
					}
				}
			}
		}
	}

	.scrollArea
	{
		._4g33, ._rzh ._4g33
		{
			.img.profpic
			{
				@include site-elem-extend($domain, 'avatar');
			}

			&:hover
			{
				.img.profpic
				{
					@include site-elem-extend($domain, 'avatar_hover');
				}
			}
		}
	}

	.flyout
	{
		.acw
		{
			.img.profpic
			{
				@include site-elem-extend($domain, 'avatar');
			}

			&:hover
			{
				.img.profpic
				{
					@include site-elem-extend($domain, 'avatar_hover');
				}
			}
		}
	}

	#friends_center_main
	{
		.bs
		{
			.bt
			{
				img.bu
				{
					@include site-elem-extend($domain, 'avatar');
				}

				&:hover
				{
					img.bu
					{
						@include site-elem-extend($domain, 'avatar_hover');
					}
				}
			}
		}
	}

	.ct, .cw
	{
		.v, .w
		{
			img.s
			{
				@include site-elem-extend($domain, 'avatar');
			}

			&:hover
			{
				img.s
				{
					@include site-elem-extend($domain, 'avatar_hover');
				}
			}
		}
	}

	.eq, .eg
	{
		.es.et, .ej.ek
		{
			img.s
			{
				border: 1px solid transparent;
				transition: border-color .20s ease-in-out;

				&:hover
				{
					border-color: $hovercolor;
				}
			}
		}
	}
}

$domain: 'developers.facebook.com';
@-moz-document domain("developers.facebook.com")
{
	%root
	{
		font-size: 1rem;
	}

	html, body, :root
	{
		//font-size: $fontSize;
		font-size: stylish-var($fontSize, '/*[[size]]*/');
	}

	// https://developers.facebook.com/docs/
	._4l0x, ._1z0j a,

	// https://developers.facebook.com/tools-and-support/
	._1na,
	{
		@extend %root;
	}

	a
	{
		&._1z0k
		{
			label, span
			{
				@extend %root;
			}
		}
	}
}
