@-moz-document domain("wetalk.tw")
{

	@include site-init-here($domain);

	.adsbygoogle
	{
		@include adblock($domain);
	}

	.in
	{
		&.modal-backdrop,
		&#mobileModal
		{
			@include adblock($domain);
		}
	}

	.adblock
	{
		@include adblock($domain);
	}

	.modal-open
	{
		overflow: auto !important;
	}

	#contentWarp
	{
		.postmessage
		{
			@include font-size-article-important();
		}
	}

	.postmessage
	{
		> div[style*='background-color'][style*='width:320px;height:300px;']
		{
			width: auto !important;
			height: auto !important;
			max-width: 320px;
			max-height: 300px;

			padding: 0 !important;

			> span:first-child
			{
				@include adblock($domain);
			}
		}
	}

	.t_f
	{
		&, & td
		{
			//@include font-size-article($fontSizeArticle);
		}
	}



}
